p {
   text-align: justify; 
}

.main-pages {
  position: relative;
}

.content-block {
  clear: both;
}

.mobil-img {
  float: left;
  width: 80px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px; 
  border-style: solid;
  border-color: #b700ff;
  border-width: 1px;
}

.img-left {
  float: left;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}


